# HW4: Occupation Dataset

### Introduction:

Special thanks to: https://github.com/guipsamora for sharing his datasets, materials, and questions.

- https://github.com/justmarkham for sharing the dataset and materials.

In [1]:
### Import the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
### Import the dataset from this address. https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user
### Assign it to a variable called users and use the 'user_id' as index
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

In [3]:
# Problem 1. See the first 10 entries. (done for you)
users.head(10)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [23]:
# Problem 2. How many observations and columns are in the data?
print("There are 943 observations and 4 columns")
users.shape

There are 943 observations and 4 columns

(943, 4)

In [29]:
# Problem 3. How many different occupations there are in this dataset?
users.occupation.nunique()

21

In [33]:
# Problem 4. What is the most frequent occupation?
print("The most frequent occupation is student")
users.occupation.value_counts()

The most frequent occupation is student

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [74]:
# Problem 5. Discover what is the mean age per occupation.
# Sort the results and find the 3 occupations with the lowest mean age and the 3 with the highest
grouped = users.groupby("occupation").mean()
grouped_sort = grouped.sort_values("age")
[grouped_sort[0:3], grouped_sort[18:21]]

[                     age
 occupation
 student        22.081633
 none           26.555556
 entertainment  29.222222,
                   age
 occupation
 educator    42.010526
 doctor      43.571429
 retired     63.071429]

In [199]:
# Problem 6. Find the proportion of males by occupation and sort it from the most to the least
gender = users.groupby(["gender", "occupation"])["gender"].count() 
occ = users.groupby(["occupation"])["gender"].count()
males = (gender / occ).loc["M"]
males.sort_values(ascending = False)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

In [9]:
# Problem 7. For each occupation, calculate the minimum and maximum ages
# See groupby and agg() to perform multiple aggregate functions at once

In [10]:
# Problem 8. For each combination of occupation and gender, calculate the mean age.
# Arrange the results in a table so each row is an occupation, and you have a 
# column of the average male age and another column with the average female age.
# Sort the resulting table by Female mean age from least to greatest

In [11]:
# Problem 9. For each occupation find the count of women and men
# Arrange the results in a table so each row is an occupation, similar to above

In [12]:
# Problem 10. Turn the counts above into proportions. e.g administrator 0.455696 0.544304
# Arrange results in increasing order of proportion men

In [13]:
# Create a stacked barchart showing the results above

In [14]:
# Extract the first digit of each zip code 
# and create a new column called 'region' that maps the
# first digit of the zip to new values using this dictionary:
d = {'0': 'New England',
'1': 'Mid-Atlantic',
'2': 'Central East Coast',
'3': 'The South',
'4': 'Midwest',
'5': 'Northern Great Plains',
'6': 'Central Great Plains',
'7': 'Southern Central',
'8': 'Mountain Desert',
'9': 'West Coast'} 

# print the first 5 rows of the result

In [15]:
# for the occuptation 'retired', find the mean age of each region